<div id="home">
  <section class="page-header">
    <div class="logo">
      <img src="https://vuejs.org/images/logo.png" />
    </div>
    <h1 class="project-name">
      vue-calendly
    </h1>
    <h2 class="project-tagline">
      Vue.js component for using Calendly widget.
    </h2>
    <div>
      <a href="https://github.com/officert/vue-calendly" class="btn">View on GitHub</a>
      <a href="https://github.com/officert/vue-calendly/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/officert/vue-calendly/tarball/master" class="btn">Download .tar.gz</a>
    </div>
  </section>
  <section class="main-content">
    <calendly url="https://calendly.com/tablelist-pro" :height="600"></calendly>
  </section>
</div>
